body {
    width: 100vw;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

.skillsContainer {
    height: auto;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 70px 100px 30px 100px;
    box-sizing: border-box;
}

.skillsMainHead {
    font-size: 70px;
    font-weight: 550;
    width: 100vw;
    text-align: center;
    margin: 20px 0px 60px 0px;
    background: linear-gradient(90deg, #5930ff, #d52cff, orange);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skillsDiv {
    height: auto;
    width: 100vw;
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    row-gap: 40px;
    padding: 0px 80px;
}


.SkillsBox {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #171717;
    width: 42vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 30px;
    justify-content: space-evenly;
    border-radius: 20px;
}

.skillsLogoDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 38vw;
    /* background-color: #0ac300; */
}


.individualskill {
    background-color: #070707;
    height: 140px;
    width: 8vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    cursor: pointer;
}

.individualskill:hover {
    scale: 1.05;
    background-color: #0e0e0e;
    border: 2px solid #a75dd6;
    box-shadow: 0px 0px 20px #a75dd6;
}

.individualskill>p {
    font-size: 20px;
    font-weight: 600;
}



.skillslogoimg {
    width: 50px;
}


.individualOtherskill>p {
    font-size: 20px;
    font-weight: 600;
}

.invertColor {
    filter: invert(100%);
}


 @media screen and (max-width: 450px) {
    body {
        height: auto;
        width: 100vw;
    }

    .skillsMainHead {
        font-size: 50px;
    }

    .skillsDiv {
        display: flex;
        flex-direction: column;
    }

    .librariesHeading {
        font-size: 27px;
    }

    .SkillsBox {
        padding: 20px;
        height: auto;
        width: 90vw;
    }

    .skillsLogoDiv {
        width: 87vw;
    }

    .individualskill {
        gap: 10px;
        width: 20vw;

    }

    .individualskill:hover {
        scale: 1.05;
        background-color: #0e0e0e;
    }

    .individualskill>p {
        font-size: 17px;
    }


    .skillslogoimg {
        width: 40px;
    }

}


/* only for Iphone SE */
@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {

    .skillsMainHead {
        font-size: 50px;
    }

    .SkillsBox {
        height: 40vh;
    }

    .individualskill {
        height: 25vh;
        width: 18vw;
    }

    .otherSkillsImg {
        width: 40px;
    }

    .librariesHeading {
        font-size: 27px;
    }

}


@media (min-width : 480px) and (max-width: 1336px) {
    body {
        height: auto;
        width: 100vw;
    }

    .skillsDiv {
        display: flex;
        flex-direction: column;
    }

    .SkillsBox {
        padding: 20px;
        height: 25vh;
        width: 90vw;
    }

    .SkillsBox>h1 {
        font-size: 37px;
    }

    .skillsLogoDiv {
        width: 85vw;
    }

    .skillsMainHead {
        font-size: 50px;
    }

    .individualskill {
        gap: 10px;
        width: 20vw;

    }

    .individualskill:hover {
        scale: 1.05;
        background-color: #0e0e0e;
    }

    .individualskill>p {
        font-size: 20px;
    }


    .skillslogoimg {
        width: 50px;
    }

}

