body {
    width: 100vw;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

.skillsContainer {
    height: auto;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 70px 100px 30px 100px;
    box-sizing: border-box;
}

.skillsMainHead {
    font-size: 70px;
    font-weight: 550;
    width: 100%;
    text-align: center;
    margin: 20px 0px 60px 0px;
    color: #0ac300;
}

.skillsDiv {
    height: auto;
    width: 100vw;
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    row-gap: 40px;
    padding: 0px 80px;
}


.SkillsBox {
    display: flex;
    flex-direction: column;
    height: 30vh;
    background-color: #171717;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 30px;
    justify-content: space-evenly;
    border-radius: 20px;
}

.skillsLogoDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.individualskill {
    background-color: #070707;
    height: 140px;
    width: 22%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    cursor: pointer;

}

.individualskill:hover {
    scale: 1.05;
    background-color: #0e0e0e;
}

.individualskill>p {
    font-size: 20px;
    font-weight: 600;
}



.skillslogoimg {
    width: 50px;
}


.individualOtherskill>p {
    font-size: 20px;
    font-weight: 600;
}

.invertColor{
    filter: invert(100%);
}


@media screen and (max-width: 450px) {
    body {
        height: auto;
        width: 100vw;
    }

    .skillsDiv {

        display: flex;
        flex-direction: column;
    }


    .SkillsBox {
        padding: 20px;
        height: 25vh;
        width: 90vw;
    }

    .skillsLogoDiv {
        width: 85vw;
    }

    .individualskill {
        gap: 10px;
        width: 20vw;

    }

    .individualskill:hover {
        scale: 1.05;
        background-color: #0e0e0e;
    }

    .individualskill>p {
        font-size: 17px;
    }


    .skillslogoimg {
        width: 40px;
    }

}


/* only for Iphone SE */
@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {

    .SkillsBox {
        height: 40vh;
    }

    .individualskill {
        height: 25vh;
        width: 18vw;
    }

    .otherSkillsImg {
        width: 40px;
    }

    .librariesHeading{
        font-size: 27px;
    }

}


@media (min-width : 480px) and (max-width: 1336px) {
    body {
        height: auto;
        width: 100vw;
    }

    .skillsDiv {
        display: flex;
        flex-direction: column;
    }

    .SkillsBox {
        padding: 20px;
        height: 25vh;
        width: 90vw;
    }

    .SkillsBox > h1{
        font-size: 37px;
    }
    .skillsLogoDiv {
        width: 85vw;
    }

    .individualskill {
        gap: 10px;
        width: 20vw;

    }

    .individualskill:hover {
        scale: 1.05;
        background-color: #0e0e0e;
    }

    .individualskill>p {
        font-size: 20px;
    }


    .skillslogoimg {
        width: 50px;
    }

}