.submitButton {
    min-height: 50px;
    width: 150px;
    cursor: pointer;
    position: relative;
    padding: 10px 12px;
    font-size: 18px;
    color: #a75dd6;
    border: 2px solid #a75dd6;
    border-radius: 14px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.submitButton::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #a75dd6;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.submitButton:hover::before {
    scale: 3;
}

.submitButton:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0px 0px 20px #a75dd6;
}

.submitButton:active {
    scale: 1;
}

.my-custom-class {
    background-color: #2b2b2b;
    color: white;
}

.my-custom-title-class {
    color: #a75dd6;
}

.my-custom-icon-class {
    color: #a75dd6;
}

.my-custom-confirm-btn {
    background-color: #a75dd6;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black;
}

.loaderInContactUs{
    position: absolute;
    z-index: 100;
}

