body {
    overflow-x: hidden;
    width: 100vw;
}

.projectsPage {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectHeading {
    font-size: 50px;
    font-weight: 550;
    width: 100%;
    text-align: center;
    margin: 30px 0px 60px 0px;
    color: #e7e7e7
}

.projectsDiv {
    /* display: flex;
    justify-content: space-evenly;
    width: 100vw; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: #2e2e2e; */
    place-items: center;
    width: 84vw;
    gap: 30px;
}

.card {
    position: relative;
    /* width: 334px;
    height: 474px; */
    width: 40vw;
    height: 68vh;
    background-color: #202022;
    border: 2px solid #2e2e2e;
    display: flex;
    flex-direction: column;
    /* padding: 12px; */
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0px 0px 20px #1f1f1f;
    border: 2px solid #262626;
}

.card>h2 {
    font-size: 30px;
}

.card>p {
    font-size: 17px;
    text-align: justify;
}


.heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
}


.projectsImg {
    /* height: 170px; */
    height: 30vh;
    width: 100%;
    border-radius: 5px;
}

.liveViewBtn {
    /* min-height: 50px; */
    /* width: 150px; */
    cursor: pointer;
    position: relative;
    padding: 10px 12px;
    font-size: 18px;
    color: #a75dd6;
    border: 2px solid #a75dd6;
    border-radius: 14px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.liveViewBtn::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #a75dd6;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.liveViewBtn:hover::before {
    scale: 3;
}

.liveViewBtn:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0px 0px 20px #a75dd6;
}

.liveViewBtn:active {
    scale: 1;
}

.liveViewBtn {
    text-decoration: none;
    align-self: center;
    position: absolute;
    bottom: 30px;
}

.liveViewBtn a {
    padding: 16px 24px;
    border-radius: 6px;
    width: 146px;
    height: 46px;
    transition: 300ms;
    text-decoration: none;
    color: #a75dd6;
    font-size: 23px;
}


.liveViewBtn:hover a {
    background: none;
    color: black;
}


@media screen and (max-width: 450px) {

    .projectsPage {
        height: auto;
        padding: 100px 0px;
    }

    .projectHeading {
        font-size: 50px;
    }

    .projectsImg {
        height: 20vh;
        border-radius: 5px;
    }

    .projectsDiv {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 40px;
        width: 100vw;
    }

    .card {
        position: relative;
        width: 90vw;
        height: auto;
    }

    .liveViewBtn a {
        font-size: 19px;
    }

}

@media (min-width : 480px) and (max-width: 1336px) {
    .projectsPage {
        height: auto;
        align-items: center;
        width: 100vw;
        background-color: #383838;
    }

    .projectsPage {
        padding: 100px 0px 100px 0px;
    }

    .projectsDiv {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        place-items: center;
        padding: 0px 30px;
        width: 100vw;
    }

    .card {
        position: relative;
        width: 45vw;
        height: 75vh;
    }

}

@media (min-width : 912px) and (max-width: 1336px) {
    .projectsPage {
        padding-bottom: 100px;
    }

    .projectsImg{
        height: 25vh;
    }

    .card {
        height: 50vh;
    }

}

/* for Ipad mini */
@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) {
    .projectsPage {
        padding: 0px 0px 100px 0px;
    }

    .card {
        position: relative;
        width: 334px;
        height: 70vh;

    }

    .projectsDiv {
        padding: 0px 20px;
        width: 100vw;
    }

}