body {
    width: 100vw;
    overflow-x: hidden;
}

* {
    margin: 0;
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 20;
    max-width: 100vw;
}

.navBar {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(10, 10, 10, 0.4);
    /* transparent black */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* Safari support */
    padding: 0px 30px;
    align-items: center;
    font-size: 20px;
    color: white;
}


.part1 {
    font-size: 22px;
}

.part1 p {
    font-weight: 600;
    /* background: linear-gradient(90deg, #5930ff, #d52cff, orange);
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #9F4AEF;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 60px;
}

li {
    cursor: pointer;
}

.diffPages {
    text-decoration: none;
    color: white;
}

.iconToOpenHamburger {
    display: none;
}

.HamburgerDiv {
    align-self: flex-start;
    display: none;
    transition: opacity 1s ease;
    position: absolute;
    top: 0px;
    right: 0px;
}

#xMark {
    align-self: flex-end;
    font-size: 30px;
    position: relative;
    bottom: 10px;
}

#menuIcon {
    font-size: 30px;

}

.Hamburgerul {
    flex-direction: column;
    align-items: left;
    height: 100vh;
    width: 60vw;
    position: absolute;
    right: 0px;
    padding: 20px;
    z-index: 100;
}

.Hamburgerli {
    text-decoration: none;
    font-size: 22px;
    display: flex;
    gap: 10px;
}

.hamLi {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
}

/* hamburger animation */
@keyframes hamAni {
    from {
        transform: translate3d(70vw, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.HamburgerDiv {
    z-index: 10;
    animation: hamAni 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    will-change: transform;
}


@media screen and (max-width: 1024px) {
    #xMark {
        align-self: flex-end;
        font-size: 25px;
        position: relative;
        bottom: 23px;
    }

    .navBar {
        height: 6vh;
        display: flex;
        justify-content: space-between;
        padding: 0px 30px;
        align-items: center;
        font-size: 24px;
        color: white;
    }


    .iconToOpenHamburger {
        display: flex;
    }

    .pcNav {
        display: none;
    }

    .HamburgerDiv {
        display: none;
    }

}

@media (min-width: 1024px) and (max-width: 1336px) {
    .navBar {
        height: 6vh;
        display: flex;
        justify-content: space-between;
        background-color: black;
        padding: 0px 30px;
        align-items: center;
        font-size: 24px;
        color: white;
    }

    .navBar {
        font-size: 28px;
    }
}